numpy==2.2.6
Pillow==9.5.0
opencv-python-headless==4.12.0.88
torch==2.8.0
torchvision==0.23.0
streamlit==1.50.0
streamlit-autorefresh==1.0.1
streamlit-image-comparison==0.0.4
albumentations==2.0.8
albucore==0.0.24
scikit-image==0.25.2
imageio==2.37.0
pandas==2.3.3
matplotlib==3.10.6
scipy==1.16.2
requests==2.32.5
rich==14.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
